.recent-img {
  width: 165px;
  border-radius: 100%;
  margin-left: 3px;
  height: 165px;
  object-fit: cover;
}
.recents {
  background: linear-gradient(to bottom, rgba(7, 131, 63, 0.6), black 100%);
  position: absolute;
  top: 79px;
  left: 90px;
  border-radius: 10px;
  width: 92%;
  height: 400px;
  overflow: hidden;
}

.recent-songs {
  position: relative;
  display: flex;
  width: 70%;
  z-index: 1;
  left: 25px;
  gap: 30px;
  top: 70px;
}

.recent-card {
  display: flex;
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.profiles {
  display: flex;
  margin-left: 6px;
}

.follow-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(27, 211, 110);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 1000;
  font-size: 20px;
  margin-left: 130px;
  margin-top: 120px;
  font-family: arial;
  transition: 0.1s ease;
  cursor: pointer;
}

.head-artists {
  font-family: arial;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 30px;
  position: absolute;
}
.artist-name-rec {
  position: absolute;
  font-family: arial;
  font-weight: 700;
  margin-top: 180px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -17px;
}

.width-inc {
  width: 100px;
  border-radius: 10px;
  margin-left: 100px;
}

.follow {
  font-family: arial;
  font-size: 14px;
  transition: 0.1s ease;
}
