.recents {
    position: absolute;
    top: 100px;
    border-radius: 10px;
    width: 75%;
    height: 200px;
    filter: brightness(60%);
    margin-left: 8px;
}

.recent-img {
    width: 50px;
    border-radius: 5px;
    margin-left: 3px;
}

.recent-songs {
    position: absolute;
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    grid-template-rows: 56px 56px;
    width: 70%;
    z-index: 1;
    left: 155px;
    gap: 20px;
    top: 120px;
}

.recent-card {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.recent-name {
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.9);
}

.player-btn {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: rgb(85, 255, 161);
    border: none;
    position: absolute;
    margin-left: 165px;
    transform: translateY(40px);
    box-shadow: 1px 1px 10px rgb(117, 98, 98);
    opacity: 0;
}

.hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
}

.hover-btn {
    transform: translateY(0);
    opacity: 1;
    transition: 0.2s ease;
}

