.sign-up{
    position:absolute;
    top:300px;
    display: flex;
    flex-direction: column;
    height:300px;
    gap:40px;
    top:230px;
    left: 550px;
}
input{
    border: solid 1px white;
    background-color: black;
    height:40px;
    width:420px;
    outline: none;
    color: white;
    padding: 10px;
}

.all-cont{
    width:100%;
    height:400px;
    display: flex;
    justify-content: center;
    color: white;
}

input:hover{
    border: solid 1px rgb(117, 111, 111);
}

input:focus{
    border: solid 1px  rgb(117, 111, 111);
}

.head-sign{
    position: relative;
    top:120px;
    font-family: arial;
    font-weight: 700;
}

input::placeholder{
    font-weight: 700;
}

.submit{
    padding: 10px;
    background:black;
    border: solid white 1px;
    color: white;
    font-weight: 800;
    transition: 0.2s ease;
    cursor: pointer;
}
.submit:hover{
    background-color: white;
    color: black;
}

.passError ,.confirmError , .nameError , .emailError{
    position: absolute;
    top:205px;
    color: red;
    font-family: arial;
    font-weight: 500;
    font-size: 11px;
}

.confirmError{
    position: absolute;
    top:282px;
}

.nameError{
    top:50px;
}

.emailError{
    top:128px;
}