.hero {
  width: 100%;
  display: flex;
  margin-top: 75px;
}

.hero-cont {
  width: 1000px;
  height: 90vh;
  padding-top: 350px;
  margin-left: 34px;
  border-radius: 10px;
  display: grid;
  position: relative;
  left: 80px;
  grid-template-columns: 190px 190px 190px 190px 190px 190px;
  padding-left: 13px;
  grid-template-rows: 260px 260px;
  z-index: 0;
  gap: 10px;
  margin-top: 30px;
  row-gap: 10px;
}

.poster,
.poster-2 {
  width: 170px;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
  margin-top: 8px;
}

.song-cont,
.song-cont-2 {
  font-family: "arial";
  font-weight: 400;
  font-size: 13px;
  margin-top: 20px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: top;
  flex-direction: column;
  border-radius: 10px;
  color: inherit;
  text-decoration: none;
}

.name-song {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 700;
  margin-bottom: 3px;
}

.name-auth {
  margin-left: 10px;
}

.vol {
  flex: 1;
}

.music {
  flex: 1;
}

.controls {
  margin-top: 8px;
}

.play-btn,
.visible {
  position: absolute;
  top: 120px;
  margin-left: 125px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgb(136, 212, 200);
  border: none;
  box-shadow: 0 0 15px rgb(136, 212, 200);
  transform: translateY(30px);
  opacity: 0;
  transition: 0.3s ease;
  cursor: pointer;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.song-cont:hover,
.song-cont-2:hover {
  background: rgb(27, 25, 25);
}

.suggested {
  position: absolute;
  top: 295px;
  left: 25px;
  font-family: arial;
  font-weight: 800;
  font-size: 22px;
}

.artist-album {
  font-family: arial;
  color: rgb(233, 225, 225);
  font-size: 12px;
  font-weight: 500;
}

.albums-image {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  margin-top: 10px;
}

.card-album {
  width: 260px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: inherit;
  text-decoration: none;
}

.albums {
  display: flex;
  margin-left: 95px;
  margin-top: 85px;
  overflow-x: auto;
  scrollbar-width: none;
  max-width: 1000px;
}

.name-album {
  font-family: "arial";
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
}

.names-album {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}

.album-head {
  font-family: arial;
  margin-left: 115px;
  margin-bottom: 50px;
  position: absolute;
  top: 958px;
}

.card-album:hover {
  background: rgb(27, 25, 25);
}

.album-sub {
  display: flex;
  gap: 5px;
}

@media (max-width: 360px) {
  .poster {
    width: 50px;
  }
}

.arrow-btn,
.arrow-left,
.displayed {
  position: absolute;
  right: 300px;
  top: 1175px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: rgb(22, 21, 21);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.arrow-left,
.displayed {
  left: 130px;
  opacity: 0;
}

.displayed {
  display: flex;
  opacity: 1;
}

.song-cont-2:hover
.poster-2 {
  filter: brightness(50%);
}

.uploaded {
  display: grid;
  grid-template-columns: 185px 185px 185px 185px 185px;
  grid-template-rows: 250px 250px;
  padding: 100px;
  column-gap: 15px;
  margin-left: 8px;
  row-gap: -5px;
}

.poster-2 {
  margin-bottom: 9px;
  position: relative;
  left: -3px;
}
.song-cont-2 {
  z-index: 2;
}

.play-display,.btn-display{
  position: absolute;
  top:45%;
  right: 45%;
  opacity: 0;
}

.btn-display{
  opacity: 1;
}

.recently{
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  top:1400px;
  font-family: arial;
  left:115px;
}
