.playlists-cont{
    height:76vh;
    width:70px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    filter: brightness(80%);
    position: fixed;
    z-index: 1;
    color: inherit;
    text-decoration: none;
}

.plus-icon{
    width:40px;
    height:40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
    background-color:rgb(29, 27, 27) ;
}

.favs,.favs-div{
    width:40px;
    height:40px;
    background: rgb(53, 221, 53);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}