.playlists-cont{
    height:76vh;
    background-color:  rgb(14, 13, 13);
    width:70px;
    border-radius: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    filter: brightness(80%);
    position: fixed;
    z-index: 1;
    color: inherit;
    text-decoration: none;
}

.plus-icon{
    width:40px;
    height:40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
    background-color:rgb(29, 27, 27) ;
}

.favs,.favs-div{
    width:50px;
    height:50px;
    background: linear-gradient(40deg , blue , blueviolet);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}