.album-img{
    width:90%;
    height:450px;
    border-radius: 10px;
    margin-top: 25px;
}

.al-cont{
    width:800px;
    position: relative;
    left:150px;
    margin-top: 100px;
    background-color:  rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    border-radius: 20px;
    font-family: arial;
    box-shadow: 0 0 10px rgb(27, 27, 27);
}

.als{
    max-width: 700px;
    margin-top: 25px;
}

