.fetch-image {
  width: 170px;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
  margin-top: 8px;
}

.fetch-card {
  font-family: "arial";
  font-weight: 400;
  font-size: 13px;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: top;
  flex-direction: column;
  border-radius: 10px;
  color: inherit;
  text-decoration: none;
}
.fetch-card:hover {
  background: rgb(27, 25, 25);
}

.tracks-cont {
  display: grid;
  grid-template-columns: 190px 190px 190px 190px 190px;
  position: relative;
  top:100px;
  left: 30px;
}


.track-name-own{
  position: absolute;
  z-index: 10;
}