.nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 30;
    padding: 3px;
    top: 0;
}

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    margin: 0;
    height: 250vh;
}

html {
    scrollbar-width: none;
}

.navs {
    flex: 0.5;
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    height: 40px;
    text-decoration: none;
    align-items: center;
}

.downloads,
.user,
.notification {
    color: inherit;
    text-decoration: none;
}

.search-sec {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    flex: 0.4;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 450px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(19, 19, 20);
    border: none;
    padding: 15px;
    outline: none;
    color: white;
    font-family: 'arial';
    font-weight: 600;
    position: relative;
}

.bell {
    margin-top: 1px;
}

.user{
    font-family: arial;
    font-weight: 800;
    font-size: 20px;
}

@font-face {
    font-family: 'head';
    src: url('/fonts/samsung.otf');
}

.the-name {
    font-size: 25px;
    font-family: 'head';
    margin-right: 20px;
}

.drop-down {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.searches-cont,
.invisible {
    width: 420px;
    height: 450px;
    padding: 20px;
    position: fixed;
    background-color: rgb(20, 20, 20);
    z-index: 1;
    left: 37.8%;
    border-radius: 10px;
    top: 60px;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.search-poster {
    width: 50px;
    border-radius: 3px;
    margin-top: 3px;
}

.searches {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}



.all-search {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 10px;
    height: 65px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.all-name {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.name-search {
    margin-bottom: 3px;
    margin-left: 1px;
}

.by {
    color: rgb(143, 140, 140);
}


.player {
    position: absolute;
    left: 23px;
    top: 21px;
    cursor: pointer;
    opacity: 0;
}

.all-search:hover .search-poster {
    filter: brightness(60%);
}

.all-search:hover {
    background: rgb(24, 23, 23);
}

.all-search:hover .player {
    opacity: 1;
}

.add-playlist {
    position: absolute;
    left: 380px;
    background-color: transparent;
    border: none;
}

.gradient{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right , rgb(23, 216, 23) , green);
    -webkit-background-clip: text;
    font-weight: 700;
}

