.play-sec {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    z-index: 10;
}

.controls {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: start;
}