.hero-over {
    width: 1050px;
    margin-left: 230px;
    border-radius: 10px;
    font-family: arial;
    display: flex;
    flex-direction: row;
    height: 500px;
}

.over-cont {
    width: 1100px;
    display: flex;
    align-items: center;
    align-items: center;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    height: 120vh;
}

.over-img {
    width: 250px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 15px;
    height: 250px;
}

.names-over {
    position: relative;
    top: 160px;
    left: 30px;
}

.name-over {
    font-weight: 800;
    font-size: 40px;
}

.artist-over {
    font-weight: 700;
    font-size: 16px;
    margin-top: 4px;
}

.music-section {
    width: 1050px;
    margin-left: 200px;
    font-family: arial;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: rgba(8, 8, 8, 0.1);
    position: absolute;
    top: 440px;
    padding: 20px;
    align-items: center;
}

.music-card {
    display: flex;
    align-items: center;
    height: 65px;
    width:98%;
    border-radius: 5px;
}

.music-card:hover {
        background-color: rgba(100, 95, 95, 0.3);
}

.music-sec-img {
    width: 50px;
    border-radius: 5px;
}

.play-over{
    margin-left: 18px;
    font-weight: 800;
}

.num{
    margin: 0;
    margin-left: 18px;
    font-size: 20px;
}


.music-names {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-stuffs {
    flex: 2;
    display: flex;
    justify-content: end;
    margin-right: 50px;
    align-items: center;
}

.elli {
    margin-left: 20px;
}

.music-stuffs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.music-name {
    font-size: 19px;
    font-weight: 800;
}

.music-artist {
    font-size: 14px;
    font-weight: 600;
    color: rgb(214, 201, 201);
}

.play-music,.play-music-btn{
    background-color: transparent;
    border: none;
    color: white;
}

.play-music-btn{
    width:50px;
    height:50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 255, 161);
    align-items: center;
    margin-left: 40px;
}

.type{
    position: absolute;
    left:435px;
    top:220px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.upper-part{
    width:30%;
    height:60px;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:-360px;
}


.add-liked{
    background-color: transparent;
    width:40px;
    height:40px;
    border-radius: 100%;
    border: none;
}