.name-profile {
  font-size: 80px;
  font-weight: 800;
  position: relative;
  top: -100px;
}

.first-sec {
  font-family: arial;
  margin-top: 205px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left:20px;
  justify-content: center;
}

.sub {
  display: flex;
  position: relative;
  left: 200px;
  text-transform: uppercase;
  top: 60px;
}

.manage {
  position: relative;
  left: 20px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 30px;
  top: -30px;
}

.profile {
  width: 370px;
  height: 370px;
  border-radius: 100%;
  background-color: rgb(7, 99, 87);
  font-size: 150px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 600px;
  top: -110px;
  box-shadow: 0 0 10px rgb(7, 99, 87);
  position: absolute;
}

.letter {
  position: absolute;
  top: 70px;
}

.edit {
  position: relative;
  top: -30px;
  left: 5px;
}


.email-text{
    position: absolute;
    left:200px;
    top:70px;
}

.see,.log-out,.pass-change{
    width:300px;
    height: 50px;
    background-color: rgb(26, 25, 25);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.changes{
    position: absolute;
    top:130px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    left:180px;
}

.sec-section{
    position: relative;
    top:650px;
    width:100%;
    display: flex;
    flex-direction: column;
    font-family: arial;
    gap:10px;
}

.upload,.downloaded,.liked-playlist,.your,.themes{
    width:450px;
    height:50px;
    background-color: rgba(26, 25, 25 , 0.6);
    border-radius: 5px;
    font-weight: 800;
    display: flex;
    align-items: center;
    margin-left: 100px;
    gap: 30px;
    color: inherit;
    text-decoration: none;
}

.icons-set{
    position: relative;
    left:10px;
    top:3px;
}